<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="ApplicationServicesSQL"
       connectionString="data source=.;initial catalog=ppanda_db;User Id=ninjamock_com;Password=2FastHands;"
       providerName="System.Data.SqlClient" />

  <add name="NoSqlStorage"
             connectionString="UseDevelopmentStorage=true" />
</connectionStrings>
