<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--throwExceptions="true"      
      internalLogFile="/Logs/nloginternal.log" - resolved as driveroot:/logs/
      internalLogLevel="Trace"-->  
  
  <targets>        
    <target name="Default" xsi:type="File" fileName="${basedir}/Logs/log_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${aspnet-request:serverVariable=remote_addr}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}|${event-context:item=body}${event-context:item=exception}"
            autoFlush="true"/>

    <target name="Jobs" xsi:type="File" fileName="${basedir}/Logs/jobs_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            autoFlush="true"/>

    <target name="Crawler" xsi:type="File" fileName="${basedir}/Logs/crawler_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            autoFlush="true"/>

    <target name="ClientLog" xsi:type="File" fileName="${basedir}/Logs/clientLog_${gdc:item=build}_${shortdate}.log"
          layout="${time}|${aspnet-request:serverVariable=remote_addr}|${message}|${event-context:item=message}|${event-context:item=projectId}${event-context:item=stackTrace}"/>

    <target name="Performance" xsi:type="File" fileName="${basedir}/Logs/perf_${gdc:item=build}_${shortdate}.log"
            layout="${message}"
            autoFlush="true"/>

    <target name="Payments" xsi:type="File" fileName="${basedir}/Logs/payments_${gdc:item=build}_${shortdate}.log"
            layout="${date} ${time} ${level} ${message} Request: ${aspnet-request:serverVariable=remote_addr}"
            autoFlush="true"/>        

    <target name="Notifications" xsi:type="File" fileName="${basedir}/Logs/notifications_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            autoFlush="true"/>
    
    <target name="ModelMigrations" xsi:type="File" fileName="${basedir}/Logs/modelMigrations_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            autoFlush="true"/>

    <target xsi:type="AsyncWrapper" name="RequestTracing">
      <target name="RequestTracingFile" xsi:type="File" fileName="${basedir}/Logs/requestTracing_${gdc:item=build}_${shortdate}.log"
            layout="${message}"/>
    </target>
  
    <target xsi:type="AsyncWrapper" name="RequestDump">
      <target name="RequestDumpFile" xsi:type="File" fileName="${basedir}/Logs/requestDump_${gdc:item=build}_${shortdate}.log"
            layout="${message}"/>                                        
    </target>    

    <target name="IdSrv" xsi:type="File" fileName="${basedir}/Logs/idsrv_${gdc:item=build}_${shortdate}.log"
            layout="${time}|${aspnet-request:serverVariable=remote_addr}|${level}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            autoFlush="true"/>
  </targets>

  <rules>
    <logger name="RequestTracingLogger" minlevel="Trace" writeTo="RequestTracing" final="true"/>
    <logger name="FullRequestLogger" minlevel="Trace" writeTo="RequestDump" final="true"/>
    <logger name="Thinktecture*" minlevel="Trace" maxlevel="Warn" writeTo="IdSrv" final="true"/>    
    
    <logger name="Sketch.ClientJS" minlevel="Trace" writeTo="ClientLog" final="true"/>
    <logger name="Sketch.Business.Jobs*" minlevel="Trace" writeTo="Jobs" final="true"/>
    <logger name="Sketch.Controllers.SPAStaticContentController" minlevel="Trace" writeTo="Crawler" final="true"/>
    <logger name="Sketch.Business.ModelMigrations.*" minlevel="Trace" writeTo="ModelMigrations" final="true"/>
    
    <logger name="Sketch*" minlevel="Trace" writeTo="Default"/>
    <logger name="ImportantLogger" minlevel="Trace" writeTo="Default"/>
    <logger name="PerformanceLogger" minlevel="Trace" writeTo="Performance"/>
    <logger name="PaymentsLogger" minlevel="Trace" writeTo="Payments"/>
    
    <logger name="Thinktecture*" minlevel="Error" writeTo="IdSrv"/>    
  </rules>
</nlog>