<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="FabricCompanyActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="FabricCompanyActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="FabricCompanyActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="Backup.Settings">
    <Parameter Name="BackupMode" Value="azure" />
  </Section>
  <Section Name="Backup.Azure">
    <Parameter Name="BackupConnectionString" Value="" MustOverride="true" IsEncrypted="true" />
    <Parameter Name="BackupFrequency" Value="04:00:00" />
    <Parameter Name="MaxBackupsToKeep" Value="5" />
  </Section>
  <Section Name="Backup.Local">
    <Parameter Name="BackupArchivalPath" Value="C:\temp" />
    <Parameter Name="BackupFrequency" Value="04:00:00" />
    <Parameter Name="MaxBackupsToKeep" Value="5" />
  </Section>
  <Section Name="Azure">
    <Parameter Name="TelemetryKey" Value="" MustOverride="true" />
  </Section>
</Settings>