<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="General">
    <Parameter Name="RoleName" Value="" MustOverride="true" />
    <Parameter Name="TestSecret" Value="" MustOverride="true" IsEncrypted="true"/>
  </Section>
  <Section Name="ConnectionStrings">    
    <Parameter Name="nosql" Value="" MustOverride="true"  IsEncrypted="true"/>    
  </Section>
  <Section Name="IdSrv">
    <Parameter Name="PublicKeyFile" Value="" MustOverride="true"/>    
  </Section>
  <Section Name="Endpoints">
    <Parameter Name="Listen" Value="" MustOverride="true" />    
  </Section>
  <Section Name="Azure">
    <Parameter Name="TelemetryKey" Value="" MustOverride="true" />
  </Section>
</Settings>
